.position-relative {
  position: relative;
}

.container {
  width: 100%;
  max-width: var(--desktop--d-12c);
  margin-right: auto;
  margin-left: auto;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: var(--largedesktop--ld-12c);
  }
}

@media screen and (max-width: 991px) {
  .container {
    max-width: var(--tablet--t-12c);
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 100vw;
    padding-right: var(--spacing--4);
    padding-left: var(--spacing--4);
  }
}

.py-4 {
  padding-top: var(--spacing--4);
  padding-bottom: var(--spacing--4);
}

@media screen and (max-width: 767px) {
  .px-6 {
    padding-right: var(--spacing--6);
    padding-left: var(--spacing--6);
  }
}

.overflow-hidden {
  overflow: hidden;
}

.container.py-4.px-6.z-index-1 {
  position: relative;
  z-index: 1;
}

.d-flex-dir-col_ali-cen-cen_gap-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: var(--spacing--1);
  grid-row-gap: var(--spacing--1);
}

@media screen and (min-width: 1440px) {
  .container.r-ld-max-width-8c {
    max-width: var(--largedesktop--ld-8c);
  }
}

.container.club-list-input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: var(--spacing--10);
  grid-row-gap: var(--spacing--10);
}

@media screen and (min-width: 1440px) {
  .container.header {
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}

.header {
  position: fixed;
  z-index: 20;
  width: 100%;
  background-color: var(--background--background);
}

@media screen and (min-width: 1440px) {
  .header {
    transition: background-color 300ms ease;
  }
}

.header:hover {
  background-color: var(--background--background-beta);
}

.container.header-v2 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.header-v2 {
  height: 70vh;
}

@media screen and (min-width: 1440px) {
  .container.col-12 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1440px) {
  .container.col-12.row-1 {
    grid-template-rows: auto;
  }
}

.height-max {
  height: 100%;
}

@media screen and (min-width: 1440px) {
  .height-max {
    height: 100%;
  }
}

.d-grid-col-2 {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: var(--spacing--8);
  grid-row-gap: var(--spacing--8);
  grid-template-columns: minmax(0px, 1fr) minmax(0px, 1fr);
  grid-template-rows: auto;
}

._w-full {
  width: 100%;
}

@media screen and (min-width: 1440px) {
  .d-grid-col-2.r-xl-col-4-sm-col-1 {
    grid-template-columns: minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .d-grid-col-2.r-xl-col-4-sm-col-1 {
    grid-template-columns: minmax(0px, 1fr);
  }
}

@media screen and (max-width: 991px) {
  .d-grid-col-2.r-md-col-1 {
    grid-template-columns: minmax(0px, 1fr);
  }
}

.d-grid-col-2.r-md-col-1._w-full {
  justify-items: start;
  align-items: center;
}

.d-grid-col-2.r-md-col-1._w-full.ali-top-left {
  justify-items: start;
  align-items: start;
}

@media screen and (min-width: 1440px) {
  .d-grid-col-2.r-md-col-1._w-full.py-16 {
    padding-top: var(--spacing--16);
    padding-bottom: var(--spacing--16);
  }
}

@media screen and (max-width: 991px) {
  .d-grid-col-2.r-md-col-1._w-full.r-md-gap-10 {
    grid-column-gap: var(--spacing--20);
    grid-row-gap: var(--spacing--20);
  }
}

@media screen and (max-width: 767px) {
  .d-grid-col-2.r-md-col-1._w-full.r-md-gap-10 {
    grid-column-gap: var(--spacing--10);
    grid-row-gap: var(--spacing--10);
  }
}

.d-grid-col-2.r-md-col-1.border-tp {
  border-top: 1px solid var(--background--background-gamma);
}

@media screen and (max-width: 991px) {
  .d-grid-col-2.r-md-col-1.border-tp {
    border-top-width: 0px;
  }
}

@media screen and (max-width: 991px) {
  .d-grid-col-2.r-md-col-1.r-md-gap-4 {
    grid-column-gap: var(--spacing--4);
    grid-row-gap: var(--spacing--4);
  }
}

@media screen and (min-width: 1440px) {
  .d-grid-col-2.r-xl-spn-5-7-md-col-1_ali-cen {
    grid-template-columns: minmax(0px, 0.75fr) minmax(0px, 1.25fr);
  }
}

@media screen and (max-width: 991px) {
  .d-grid-col-2.r-xl-spn-5-7-md-col-1_ali-cen {
    justify-items: center;
    align-items: start;
    grid-template-columns: minmax(0px, 1fr);
  }
}

._w-full.overflow-hidden.faq-answer.max-w-640 {
  max-width: 640px;
}

@media screen and (min-width: 1440px) {
  ._w-full.overflow-hidden.faq-answer.max-w-640 {
    max-width: 640px;
  }
}

.img-ratio-3-2 {
  aspect-ratio: 3/2;
}

.corner-radius-10 {
  border-radius: var(--spacing--10);
}

.img-drop-shadow {
  filter: drop-shadow(0px 20px 160px #FFFFFF80);
}

@media screen and (max-width: 991px) {
  .r-md-order-first {
    order: -999;
  }
}

.img-drop-shadow-primary {
  box-shadow: 0 20px 240px 80px rgba(102, 204, 153, 0.24);
}

@media screen and (max-width: 991px) {
  ._w-full.img-drop-shadow {
    filter: none;
  }
}

.d-none {
  display: none;
}

@media screen and (max-width: 479px) {
  .d-none {
    display: none;
  }
}

.h-full {
  height: 100%;
}

.d-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--spacing--10);
  grid-row-gap: var(--spacing--10);
}

.d-flex.ml-20 {
  grid-column-gap: var(--spacing--16);
  grid-row-gap: var(--spacing--16);
}

@media screen and (min-width: 1440px) {
  .d-flex.ml-20 {
    grid-column-gap: var(--spacing--20);
    grid-row-gap: var(--spacing--20);
  }
}

@media screen and (max-width: 991px) {
  .d-flex.ml-20 {
    margin-left: 0px;
  }
}

.ml-20 {
  margin-left: var(--spacing--20);
}

.d-flex-dir-col_gap-0 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.pt-3 {
  margin-top: var(--spacing--3);
}

.p-6 {
  padding: var(--spacing--6);
}

.d-flex-dir-col_gap-0.p-6._w-full.h-full {
  justify-content: flex-end;
  align-items: flex-start;
}

.mt-auto {
  margin-top: auto;
}

.border-bot {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.border-background-g {
  border-color: var(--background--background-gamma);
}

.text-h5 {
  font-family: 'Plus Jakarta Sans';
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0em;
}

.text-primary-g {
  color: var(--primary--primary-gamma);
}

.mb-1 {
  margin-bottom: var(--spacing--1);
}

.text-upper {
  text-transform: uppercase;
}

.text-h5.text-primary-g.text-ali-cen {
  display: block;
}

.text-ali-cen {
  text-align: center;
}

.text-medium {
  color: var(--fontcolor--medium);
}

.cursor-pointer {
  cursor: pointer;
}

.text-h5.nav-links {
  font-size: 24px;
  line-height: 32px;
}

@media screen and (min-width: 1440px) {
  .text-h5.nav-links {
    font-size: 16px;
    line-height: 24px;
  }
}

.text-ali-r {
  text-align: right;
}

.d-flex-dir-col_gap-4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: var(--spacing--4);
  grid-row-gap: var(--spacing--4);
}

.mb-8 {
  width: var(--desktop--d-12c);
  margin-bottom: var(--spacing--8);
}

@media screen and (max-width: 991px) {
  .mb-8 {
    width: var(--largedesktop--ld-12c);
  }
}

@media screen and (min-width: 1440px) {
  .d-flex-dir-col_gap-4.r-xl-dir-row_ali-cen {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
  }
}

.md-text-center {
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .md-text-center {
    text-align: center;
  }
}

@media screen and (max-width: 991px) {
  .md-w-full {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .d-flex-dir-col_gap-4.r-md-ali-cen {
    justify-content: flex-start;
    align-items: center;
  }
}

.text-h2 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 50px;
  line-height: 56px;
  font-weight: 800;
  letter-spacing: 0em;
  text-transform: uppercase;
}

.max-w-700 {
  max-width: 700px;
}

.text-light {
  color: var(--fontcolor--light);
}

.text-body-2 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0em;
}

.text-medium.link-inside-body {
  line-height: 14px;
}

.text-medium.link-inside-body:hover {
  color: var(--fontcolor--medium);
}

.d-flex-dir-wrp_gap-2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  grid-column-gap: var(--spacing--2);
  grid-row-gap: var(--spacing--2);
}

.chips {
  display: flex;
  padding: var(--spacing--1-5) var(--spacing--3);
  justify-content: center;
  align-items: center;

  border-radius: var(--spacing--10);

  font-size: 14px;
  font-weight: 700;
}

.chips.bg-background-g {
  height: var(--spacing--8);
  border: 1px solid var(--background--background-gamma);
  transition: all 300ms ease;
}

.chips.bg-background-g:hover {
  border: 1px solid var(--fontcolor--light);
}

.bg-background-g {
  background-color: var(--background--background-gamma);
}

.chips.bg-background-g.show-more-button {
  width: var(--spacing--8);
  height: var(--spacing--8);
  padding-right: 6px;
  padding-left: 6px;

  font-family: Keepcool;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.bg-light {
  background-color: var(--fontcolor--light);
}

.text-background-b {
  color: var(--background--background-beta);
}

.show-more-button_break {
  flex-basis: 100%;
  height: 0;
}

.btn {
  display: flex;
  height: var(--spacing--12);
  padding: var(--spacing--3) var(--spacing--4);
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  grid-column-gap: var(--spacing--2);
  grid-row-gap: var(--spacing--2);

  border-radius: var(--spacing--6);

  transition: all 300ms ease;

  line-height: 24px;
  font-weight: 700;

  cursor: pointer;
}

@media screen and (min-width: 1440px) {
  .btn {
    justify-content: center;
    align-items: center;
    grid-column-gap: var(--spacing--2);
    grid-row-gap: var(--spacing--2);
  }
}

@media screen and (min-width: 1440px) {
  .btn:hover {
    text-decoration: none;
  }
}

.btn:hover {
  text-decoration: none;
}

@media screen and (max-width: 991px) {
  .btn {
    padding-right: var(--spacing--4);
    padding-bottom: var(--spacing--3);
    padding-left: var(--spacing--4);
  }
}

.btn.outlined-box-light {
  padding-top: 11px;
  padding-bottom: 11px;
}

.btn.outlined-box-light:hover {
  background-color: var(--fontcolor--light);
  color: var(--background--background);
}

.outlined-box-light {
  border: 1px solid var(--fontcolor--light);
  border-radius: 999px;
  background-color: transparent;
}

@media screen and (min-width: 1440px) {
  .outlined-box-light {
    border-radius: var(--spacing--6);
  }
}

.d-flex-gap-1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--spacing--1);
  grid-row-gap: var(--spacing--1);
}

.btn.outlined-box-light.on-mobile {
  display: none;
}

@media screen and (max-width: 991px) {
  .btn.outlined-box-light.on-mobile {
    display: flex;
  }
}

@media screen and (max-width: 991px) {
  .btn.outlined-box-light.r-mb-dys-non {
    display: none;
  }
}

.btn.outlined-box-light.text-light:hover {
  color: var(--background--background);
}

.btn.is-icon {
  padding-top: var(--spacing--1);
  padding-right: var(--spacing--1);
  padding-bottom: var(--spacing--1);
}

.btn.is-icon.outlined-box-light {
  padding-top: 3px;
  padding-bottom: 3px;
}

.btn.is-icon.icon-left {
  padding-right: var(--spacing--4);
  padding-left: var(--spacing--1);
}

.btn.is-icon.icon-only {
  padding-left: var(--spacing--1);
}

.btn.is-icon.icon-only.outlined-box-light {
  padding-right: 3px;
  padding-left: 3px;
}

.rotate-180 {
  transform: rotate(180deg);
}

.btn.is-icon.icon-only.bg-light:hover {
  background-color: var(--background--background);
  color: var(--fontcolor--light);
}

.btn.is-icon.icon-only.outlined-box-background-g:hover {
  background-color: var(--fontcolor--light);
  color: var(--background--background);
}

.outlined-box-background-g {
  border: 1px solid var(--background--background-gamma);
  border-radius: 999px;
  background-color: transparent;
}

@media screen and (min-width: 1440px) {
  .outlined-box-background-g {
    border-radius: var(--spacing--6);
  }
}

.ml-auto {
  margin-left: auto;
}

.btn.is-icon.bg-primary {
  border: 1px solid var(--primary--primary);
  color: var(--background--background);
  font-size: 16px;
}

.bg-primary {
  background-color: var(--primary--primary);
}

.btn.is-icon.bg-primary.text-background-b:hover {
  color: var(--background--background-beta);
}

.btn.is-icon.bg-primary.text-background:hover {
  color: var(--background--background);
}

.text-background {
  color: var(--background--background);
}

.btn.is-icon.bg-light {
  border: 1px solid var(--fontcolor--light);
}

.btn.is-icon.bg-background-b {
  border: 1px solid var(--background--background);
}

.bg-background-b {
  background-color: var(--background--background-beta);
}

.btn.is-icon.bg-background-b.overflow-hidden:hover {
  background-color: var(--background--background);
  color: var(--fontcolor--light);
}

.test {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  grid-column-gap: var(--spacing--2);
  grid-row-gap: var(--spacing--2);
}

.btn.bg-primary:hover {
  background-color: var(--primary--primary-gamma);
}

.btn.bg-primary.text-background-b:hover {
  color: var(--fontcolor--light);
}

.btn.bg-primary.text-background-b.d-flex-ali-start {
  align-self: flex-start;
}

.d-flex-ali-start {
  align-self: flex-start;
}

.btn.bg-light {
  color: var(--background--background);
}

.btn.bg-background-b:hover {
  background-color: var(--fontcolor--light);
  color: var(--background--background);
}

.d-flex-no-grow-shrink {
  flex: 0 0 auto;
}

.btn.outlined-box-background-b {
  padding-top: 11px;
  padding-bottom: 11px;
  border: 1px solid var(--background--background-beta);
}

.btn.outlined-box-background-b:hover {
  background-color: var(--background--background-beta);
}

.btn.outlined-box-background-b.text-background-b:hover {
  color: var(--fontcolor--light);
}

.bg-background {
  background-color: var(--background--background);
}

.btn.is-small {
  padding-top: var(--spacing--2);
  padding-bottom: var(--spacing--2);
}

.btn-container {
  justify-content: center;
  align-items: center;
  grid-column-gap: var(--spacing--2);
  grid-row-gap: var(--spacing--2);
}

.btn-text {
  z-index: 10;
}

.btn-icon-container {
  position: relative;
  justify-content: center;
  align-items: center;
}

.btn-icon {
  display: flex;
  width: var(--spacing--10);
  height: var(--spacing--10);
  justify-content: center;
  align-items: center;

  border-radius: 100%;

  font-family: Keepcool;
  font-size: 24px;
  font-weight: 400;
}

@media screen and (min-width: 1440px) {
  .btn-icon {
    justify-content: center;
    align-items: center;
  }
}

.btn-icon.bg-background {
  color: var(--fontcolor--light);
}

.btn-icon.bg-background.text-primary {
  color: var(--primary--primary);
}

.text-primary {
  color: var(--primary--primary);
}

.btn-icon.bg-light {
  color: var(--background--background-beta);
}

@media screen and (min-width: 1440px) {
  .btn-icon.r-xl-d-none {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .r-xl-d-none {
    display: none;
  }
}

.btn-icon.is-large {
  width: var(--spacing--12);
  height: var(--spacing--12);
  font-size: 32px;
}

.btn-icon.clear-input {
  display: none;
  width: auto;
  height: auto;
  margin-left: auto;
  font-size: 20px;
}

.btn-icon.is-icon {
  z-index: 10;
}

.btn-icon-background {
  width: var(--spacing--10);
  height: var(--spacing--10);
  border-radius: 999px;
}

.btn-icon-background.position-absolute {
  position: absolute;
}

#w-node-_9c2643d0-a54e-9438-122a-906241e8a670-41e8a66d {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_9c2643d0-a54e-9438-122a-906241e8a672-41e8a66d {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
@media screen and (min-width: 1440px) {
  #w-node-_9c2643d0-a54e-9438-122a-906241e8a67f-41e8a66d {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 1;
    grid-column-end: span 1;
  }
}