.d-flex-gap-4 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--spacing--4);
  grid-row-gap: var(--spacing--4);
}

@media screen and (min-width: 1440px) {
  .d-flex-gap-4.ml-auto {
    margin-left: 0px;
  }
}

.ml-auto {
  margin-left: auto;
}

.d-flex-gap-4.ml-auto.position-relative {
  right: -7px;
}

.position-relative {
  position: relative;
}

@media screen and (max-width: 991px) {
  .md-w-full {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .d-flex-gap-4.r-sm-d-none {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .d-flex-gap-4.r-sm-d-none.ml-auto.position-relative {
    right: 0px;
  }
}

@media screen and (max-width: 991px) {
  .d-flex-gap-4.r-ali-cen {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 991px) {
  .d-flex-gap-4.r-md-dir-col {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
}

@media screen and (max-width: 991px) {
  .r-md-dir-col {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.opacity-24 {
  opacity: 0.24;
}

.bullet-point-check-primary {
  display: flex;
  width: var(--spacing--6);
  height: var(--spacing--6);
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;

  border-radius: 100%;

  background-color: var(--primary--primary);

  font-family: Keepcool;
  color: var(--background--background);
  font-size: 20px;
}

.text-h4 {
  font-family: 'Plus Jakarta Sans';
  font-size: 24px;
  line-height: 32px;
  font-weight: 800;
  letter-spacing: 0em;
  text-transform: uppercase;

  display: inline-block;
}

@media screen and (max-width: 991px) {
  .text-h4 {
    text-align: left;
  }
}

.md-text-center {
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .md-text-center {
    text-align: center;
  }
}

._w-full {
  width: 100%;
}

.text-primary-g {
  color: var(--primary--primary-gamma);
}

.text-medium {
  color: var(--fontcolor--medium);
}

.d-none {
  display: none;
}

@media screen and (max-width: 479px) {
  .d-none {
    display: none;
  }
}

.text-upper {
  text-transform: uppercase;
}