.card-0 {
  display: flex;
  padding: 0px;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  border-radius: var(--spacing--10);
}

.bg-background-g {
  background-color: var(--background--background-gamma);
}

._w-full {
  width: 100%;
}

.overflow-hidden {
  overflow: hidden;
}

.card-0.bg-background-g._w-full.overflow-hidden.h-full {
  justify-content: flex-start;
  align-items: flex-start;
}

.card-0.bg-background-g._w-full.overflow-hidden.h-full:hover {
  text-decoration: none;
}

.h-full {
  height: 100%;
}

.position-relative {
  position: relative;
}

.lesson-card-cover {
  width: 100%;
  height: 240px;
  object-fit: cover;
  object-position: 50% 50%;
}

@media screen and (min-width: 1440px) {
  .lesson-card-cover {
    flex: 0 0 auto;
  }
}

.lesson-card-cover.overflow-clip {
  overflow: clip;
}

._w-full.overflow-hidden.faq-answer.max-w-640 {
  max-width: 640px;
}

@media screen and (min-width: 1440px) {
  ._w-full.overflow-hidden.faq-answer.max-w-640 {
    max-width: 640px;
  }
}

.img-ratio-3-2 {
  aspect-ratio: 3/2;
}

.corner-radius-10 {
  border-radius: var(--spacing--10);
}

.img-drop-shadow {
  filter: drop-shadow(0px 20px 160px #FFFFFF80);
}

@media screen and (max-width: 991px) {
  .r-md-order-first {
    order: -999;
  }
}

.img-drop-shadow-primary {
  box-shadow: 0 20px 240px 80px rgba(102, 204, 153, 0.24);
}

@media screen and (max-width: 991px) {
  ._w-full.img-drop-shadow {
    filter: none;
  }
}

.d-none {
  display: none;
}

@media screen and (max-width: 479px) {
  .d-none {
    display: none;
  }
}

.d-flex-dir-col_gap-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  grid-column-gap: var(--spacing--1);
  grid-row-gap: var(--spacing--1);
}

.d-flex-dir-col_gap-1:hover {
  text-decoration: none;
}

.p-6 {
  padding: var(--spacing--6);
}

@media screen and (max-width: 991px) {
  .md-d-none {
    display: none;
  }
}

.text-h5 {
  font-family: 'Plus Jakarta Sans';
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0em;
}

.text-primary-g {
  color: var(--primary--primary-gamma);
}

.mb-1 {
  margin-bottom: var(--spacing--1);
}

.text-upper {
  text-transform: uppercase;
}

.text-h5.text-primary-g.text-ali-cen {
  display: block;
}

.text-ali-cen {
  text-align: center;
}

.text-medium {
  color: var(--fontcolor--medium);
}

.cursor-pointer {
  cursor: pointer;
}

.text-h5.nav-links {
  font-size: 24px;
  line-height: 32px;
}

@media screen and (min-width: 1440px) {
  .text-h5.nav-links {
    font-size: 16px;
    line-height: 24px;
  }
}

.text-ali-r {
  text-align: right;
}

.text-body-2 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0em;
}

.text-medium.link-inside-body {
  line-height: 14px;
}

.text-medium.link-inside-body:hover {
  color: var(--fontcolor--medium);
}

.d-flex-gap-1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--spacing--1);
  grid-row-gap: var(--spacing--1);
}