.card-10 {
  display: flex;
  padding: var(--spacing--10);
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: var(--spacing--1-5);
  grid-row-gap: var(--spacing--1-5);

  border-radius: var(--spacing--10);
}

.bg-background-g {
  background-color: var(--background--background-gamma);
}

._w-full {
  width: 100%;
}

.text-h4 {
  font-family: 'Plus Jakarta Sans';
  font-size: 24px;
  line-height: 32px;
  font-weight: 800;
  letter-spacing: 0em;
  text-transform: uppercase;

  display: inline-block;
}

@media screen and (max-width: 991px) {
  .text-h4 {
    text-align: left;
  }
}

.md-text-center {
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .md-text-center {
    text-align: center;
  }
}

.text-primary-g {
  color: var(--primary--primary-gamma);
}

.text-medium {
  color: var(--fontcolor--medium);
}

.d-none {
  display: none;
}

@media screen and (max-width: 479px) {
  .d-none {
    display: none;
  }
}

.text-upper {
  text-transform: uppercase;
}