.popup-overlay {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 20;

  display: none;
  justify-content: center;
  align-items: center;

  background-color: var(--overlay--overlay);
}